<div class="container">
    <form [formGroup]='filmeForm' (ngSubmit)='onSubmit()'>
        <input type="hidden" formControlName="id" id="id">

        <div class="form-group">
          <label for="titulo">Título</label>
          <input formControlName="titulo" type="text" class="form-control" id="titulo" placeholder="Título">
          <div *ngIf="filmeForm.get('titulo').errors?.required">
              <app-vmessage text='Titulo obrigatório!'></app-vmessage>
          </div>
        </div>
        <div class="form-group">
            <label for="diretor">Diretor</label>
            <input formControlName="diretor" type="text" class="form-control" id="diretor" placeholder="Diretor">
        </div>
        <div *ngIf="filmeForm.get('diretor').errors?.required">
            <app-vmessage text='Diretor obrigatório!'></app-vmessage>
        </div>
        <div class="form-group">
            <label for="genero">Genêro</label>
            <app-genero-list (valueGenero)="onChangeGenero($event)" generoEdit="{{genero}}"></app-genero-list>
        </div>
        <div *ngIf="filmeForm.get('genero').errors?.required">
            <app-vmessage text='Genêro obrigatório!'></app-vmessage>
        </div>
        <div class="form-group">
            <label for="sinopse">Sinopse</label>
            <input formControlName="sinopse" type="text" class="form-control" id="sinopse" placeholder="Sinopse">
        </div>
        <div class="form-group">
            <label for="ano">Ano</label>
            <input formControlName="ano" type="number" class="form-control" id="ano" placeholder="Ano">
        </div>
        
        <button [disabled]="filmeForm.invalid" type="submit" class="btn btn-primary salvar">Salvar</button>
        <app-cancel-button></app-cancel-button>
    </form>
</div>