.wrapper{
    margin-top: 1em;    
    bottom: 0em;
    left: 0em;
}
.topicos {
    width: 100%;
    height: 50%;
    background: #f8f9fa!important;
    color: #343a40 !important;
    padding: 40px;
}
.topicos h6 {
    color: #000;
}
.topicos li {
    list-style: none;
    line-height: 3;
}
.rodape {
    background: #ddd;
    height: 5vh;
}
p {
    margin-bottom: 0em;
}