<div class="container">
  <h2>Coleção de Filmes</h2>

  <app-search
    placeholder='Título'
    (onTyping)="filterTitulo = $event">
  </app-search>

  <app-search
    placeholder='Genêro'
    (onTyping)="filterGenero = $event">
  </app-search>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Diretor</th>
        <th>Editar</th>
        <th>Excluir</th>
        <th>Consultar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let filme of filmes | filterByTitulo: filterTitulo | filterByGenero: filterGenero">
        <td>{{ filme.titulo }}</td>
        <td>{{ filme.diretor }}</td>
        <td><i class="fas fa-edit"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
        <td><i class="fas fa-search-plus"></i></td>
      </tr>
    </tbody>
  </table>
</div>