<div class="container">
  <h2>Coleção de Filmes</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Diretor</th>
        <th>Genero</th>
        <th>Sinopse</th>
        <th>Ano</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let filme of filmes">
        <td>{{ filme.id }}</td>
        <td>{{ filme.titulo }}</td>
        <td>{{ filme.diretor }}</td>
        <td>{{ filme.genero.nome }}</td>
        <td>{{ filme.sinopse }}</td>
        <td>{{ filme.ano }}</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>