<div class="container">
  <h2>Coleção de Filmes</h2>

  <div class="row" style="margin-bottom: 1%; margin-top: 1%;">
    <div class="col-md-3">
      <app-search
        placeholder='Título'
        (onTyping)="filterTitulo = $event">
      </app-search>
    </div>

    <div class="col-md-3">
      <app-search
        placeholder='Genêro'
        (onTyping)="filterGenero = $event">
      </app-search>
    </div>

    <div class="col-md-2" [routerLink]="['/new']">
      <i class="fas fa-video"></i>Adicionar Filme
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Diretor</th>
        <th>Editar</th>
        <th>Excluir</th>
        <th>Consultar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let filme of filmes | filterByTitulo: filterTitulo | filterByGenero: filterGenero">
        <td>{{ filme.titulo }}</td>
        <td>{{ filme.diretor }}</td>
        <td><i class="fas fa-edit" [routerLink]="['/filmes/edit/', filme.id]"></i></td>
        <td><i class="fas fa-trash-alt" (click)="delete(filme.id, filme.titulo)"></i></td>
        <td><i class="fas fa-search-plus" [routerLink]="['/filmes/', filme.id]"></i></td>
      </tr>
    </tbody>
  </table>
</div>